In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('samplecounts.csv')

In [4]:
df.head()

,Unnamed: 0,./tpm//SRR11510194,./tpm//SRR11510195,./tpm//SRR11510196,./tpm//SRR11934411,./tpm//SRR11934414,./tpm//SRR11934417,./tpm//SRR11934420,./tpm//SRR11934425,./tpm//SRR11934428,...,./tpm//SRR5712382,./tpm//SRR5712396,./tpm//SRR6003795,./tpm//SRR6003802,./tpm//SRR6003824,./tpm//SRR6003827,./tpm//SRR7429873,./tpm//SRR7429877,./tpm//SRR7429885,./tpm//SRR7429889
0,gene:AT1G01010.1,890.0000,344.0000,289.0000,516.00000,237.0000,174.000000,70.0000,10.00000,12.00000,...,0.000000e+00,1.0,86.0000,173.0000,1.0,0.0,740.0000,173.000,337.0000,211.0000
1,gene:AT1G01020.1,258.9276,78.3464,104.1722,73.00004,29.0000,31.956265,47.9581,32.00002,28.00004,...,1.512770e-08,0.0,12.2057,22.4129,0.0,0.0,256.3968,26.641,103.8018,63.6317
2,gene:AT1G01030.1,640.3050,126.5580,182.0440,59.00000,15.0000,0.000000,102.0000,25.75620,11.00000,...,0.000000e+00,0.0,24.0000,47.0000,0.0,0.0,187.0000,32.000,73.2542,39.0000
3,gene:AT1G01040.1,1583.0000,516.9995,324.0005,648.00000,246.0002,356.000000,495.0000,470.00000,291.00000,...,2.100000e+01,16.0,56.0000,34.0000,0.0,1.0,1004.0000,385.000,482.0000,618.0000
4,gene:AT1G01050.1,521.0000,133.9400,189.0000,184.64800,49.0000,55.000000,283.8380,190.00000,158.88200,...,1.900000e+01,7.0,89.0000,239.0000,0.0,0.0,704.2660,256.523,503.6620,435.0000

In [10]:
c = ['target_id'] + [x.split('//')[1] for x in df.columns[1:]]
df.columns = c

In [11]:
df.head()

,target_id,SRR11510194,SRR11510195,SRR11510196,SRR11934411,SRR11934414,SRR11934417,SRR11934420,SRR11934425,SRR11934428,...,SRR5712382,SRR5712396,SRR6003795,SRR6003802,SRR6003824,SRR6003827,SRR7429873,SRR7429877,SRR7429885,SRR7429889
0,gene:AT1G01010.1,890.0000,344.0000,289.0000,516.00000,237.0000,174.000000,70.0000,10.00000,12.00000,...,0.000000e+00,1.0,86.0000,173.0000,1.0,0.0,740.0000,173.000,337.0000,211.0000
1,gene:AT1G01020.1,258.9276,78.3464,104.1722,73.00004,29.0000,31.956265,47.9581,32.00002,28.00004,...,1.512770e-08,0.0,12.2057,22.4129,0.0,0.0,256.3968,26.641,103.8018,63.6317
2,gene:AT1G01030.1,640.3050,126.5580,182.0440,59.00000,15.0000,0.000000,102.0000,25.75620,11.00000,...,0.000000e+00,0.0,24.0000,47.0000,0.0,0.0,187.0000,32.000,73.2542,39.0000
3,gene:AT1G01040.1,1583.0000,516.9995,324.0005,648.00000,246.0002,356.000000,495.0000,470.00000,291.00000,...,2.100000e+01,16.0,56.0000,34.0000,0.0,1.0,1004.0000,385.000,482.0000,618.0000
4,gene:AT1G01050.1,521.0000,133.9400,189.0000,184.64800,49.0000,55.000000,283.8380,190.00000,158.88200,...,1.900000e+01,7.0,89.0000,239.0000,0.0,0.0,704.2660,256.523,503.6620,435.0000

In [15]:
df['target_id'] = [x.split(':')[1] for x in df['target_id']]
df = df.set_index('target_id')

In [17]:
df.to_csv('sampleCount.csv')